#divHeader{
	grid-area: header;


}

.grid-container{
	display: grid;
	grid-template-areas: 
	'header'
}

#logo{
	padding: 50px;
}

#tablemovies{
	margin-top: 50px;
}

/*media query*/
@media(max-width: 370px;){
	/*css*/
	.edit{
		margin-bottom: 10px;

	}
	.delete{

	}
}